<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.partial.ejs', {title: 'Hello'}) %>
</head>
<style>

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #container {
        width: 400px;
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 12px;
    }

    #ola, #ola img {
        width: 100%;
        height: 100%;
    }

    button {
        border: none;
        padding: 8px 18px;
        font-weight: bold;
        font-family: sans-serif;
        border-radius: 10px;
    }

</style>

<body>

    <div id="container">
        <div id="ola" class="d-none">
            <img src="https://i.pinimg.com/originals/44/0d/53/440d53a5e13cba11064dc7e2fa01b64c.gif" alt="">
        </div>
        <button id="container-button" onclick="olaClicked()">
            ola
        </button>
    </div>

    <script>
        const olaClicked = () => {
            document.getElementById("container-button").classList.add("d-none")
            document.getElementById("ola").classList.remove("d-none")
        }
    </script>
</body>

</html>